# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Configuration de la base de données MySQL (MariaDB)
DATABASE_URL="mysql://username:password@localhost:3306/database_name"

# Configuration de JWT et de l'authentification
JWT_SECRET="your_jwt_secret_here"
BETTER_AUTH_JWKS_URI="https://www.better-auth.com/.well-known/jwks.json"
BETTER_AUTH_AUDIENCE="your-audience"
BETTER_AUTH_ISSUER="https://www.better-auth.com/"
PORT=3001